{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<div class="p-3">
<h3> Welcome to the home of household furnitures</h3>
<p>Make your living space truly feel like home with our range. From beautiful furniture to stylish home furnishings and accessories, you’ll find everything you need to create a space you love spending your time in. No matter the aesthetic you’re going for in your home, you’ll find designs to help you achieve it, whether you’re opting for Scandi minimalism, mid century chic, contemporary or classic. There’s something here for every home.




<h3> About Us </h3>
<p>The online sector, referred to as “clicks,” has been slowly eating up market share in the past two decades.</p>
<p>This is simple data set of US Diamondz Furniture superstore from 2014-2018.</p>
<p> Visit the <a href="/customers">Customer</a>, <a href="/orders">Orders</a> and <a href="/products">Product </a> pages to get detailed information on the stores dataset.
</div>

{%endblock%}